.titulo {
    text-align: center;
    color: #241fc4;
    font-size: 50px;
}

.puntajes{
    display: flex;
    justify-content: space-around;
}
.manos{
    display: flex;
    justify-content: space-around;
}

.mano{
    height: 150px;
}